<div class="dnd-inner component-inner" role="region" aria-label="{{_globals._components._text.ariaRegion}}">
    {{> component this}}

    <iframe src="http://web.moch.dk/tdc/dnd_test/index.html"></iframe>

    <div class="page-background">
	  <div class="container">
	  <p class="title">Hvilke typer af oplysninger, tror
	    du, er personoplysninger?</p>
	    
	    <div id="drag-object-container" class="drag-object-container">
	      <div class="drag-object">
	        En persons navn
	      </div>
	      <div class="drag-object">
	        En persons navn
	      </div>
	      <div class="drag-object">
	        En persons navn
	      </div>
	      <div class="drag-object">
	        En persons navn
	      </div>
	      <div class="drag-object">
	        En persons navn
	      </div>
	      <div class="drag-object">
	        En persons navn
	      </div>
	      <div class="drag-object">
	        En persons navn
	      </div>
	      <div class="drag-object">
	        En persons navn
	      </div>
	    </div>
	    
	    <img class="drop-target-image" src="http://web.moch.dk/tdc/profilePicture.png">
	    
	    <div id="drop-container" class="drag-object-container"></div>
	    
	    <button>
	    SUBMIT
	    </button>
	  </div>
	</div>

</div>